@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Teko&display=swap');

/* fuentes
font-family: 'Prompt',
sans-serif;
font-family: 'Teko',
sans-serif;
*/

#root {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}

.main{
  flex-grow: 1;
  background-image: url('./assets/cine.jpeg');
  background-size: cover;
  background-position: center;
}

Form{
  background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-family: 'Prompt',sans-serif;
}

h1{
  font-family: 'Teko',
      sans-serif;
}

.card-img{
  max-width: 540px;
  object-fit: fill;
  width: 100%;
  max-height: 540px;
}


/* form select  */
/* Estilo para las opciones del Form.Select */
.form-select {
  /* Ajusta el ancho según tus necesidades */
  width: 50%;
}

/* Estilo para las opciones del Form.Select cuando están abiertas */
.form-select:active,
.form-select:focus {
  /* Ajusta el tamaño del menú desplegable según tus necesidades */
  height: auto;
}

/* Estilo para las opciones del Form.Select cuando están desplegadas */
.form-select option {
  /* Ajusta el espaciado y el tamaño del texto según tus necesidades */
  padding: 10px;
  font-size: 14px;
}