@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Teko&display=swap');

/* fuentes
font-family: 'Prompt',
sans-serif;
font-family: 'Teko',
sans-serif;
*/

#root {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}

.main{
  flex-grow: 1;
  background-image: url('./assets/cine.jpeg');
  background-size: cover;
  background-position: center;
}

Form{
  background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-family: 'Prompt',sans-serif;
}

h1{
  font-family: 'Teko',
      sans-serif;
}

